{% extends "game_libraries/base.html" %}
{% block page_header %}
 <h1>Games</h1>
{% endblock page_header %}

{% block content %}

    <p> Games </p>
    
    <ul>
        {% for game in games %}

            <li><h3>
                <a href="{% url 'game_libraries:game' game.id %}">{{ game }}</a>
            </h3></li>
        {% empty %}
            <li><h3> No games have been added yet </h3></li>
        {% endfor %}
    </ul>

<h3><a href="{% url 'game_libraries:new_game' %}">Add a new game</a></h3>
     
{% endblock content %}