{% extends 'game_libraries/base.html' %}
{% block page_header %}
<h3>{{ game }}</h3>
{% endblock page_header %}

{% block content %}
    
    <p>Loans:</p>
    <p>
        <a href="{% url 'game_libraries:new_loan' game.id %}">Add a new loan</a>
    </p>
    <ul>
    {% for loan in loans %}
    <div class="card mb-3">
         <h4 class="card-header">
         {{ loan.date_added|date:'M d, Y H:i' }}
         <small><a href="{% url 'game_libraries:edit_loan' loan.id %}">
         edit loan</a></small>
         </h4>
         <div class="card-body">
         {{ loan.text|linebreaks }}
         </div>
         </div>
 {% empty %}
    <p>There are no loans for this game yet.</p>
 {% endfor %}
 </ul>
 
{% endblock content %}